*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}
html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* #region登录页面start */
.login {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    align-items: center;
    width: 300px;
}
.login .active {
    display: block;
}
.login:not(.active){
    display: none;
}
.login .icon img {
    width: 245px;
    margin-bottom: 5px;
}
.unregistered, .password-worry{
    color: #ff1c1c;
    margin: 3px 0;
    opacity: 0;
}
.unregistered.show, .password-worry.show {
    opacity: 1;
}
.login .id input,.login .psw input {
    width: 250px;
    height: 37px;
    border-radius: 30px;
    border: 1px solid gray;
    padding: 4px 10px;
    outline: none;
    caret-color: #f98e30;
}
.login .psw {
    position: relative;
}
.login .psw img {
    position: absolute;
    width: 16px;
    top: 10px;
    right: 10px;
}
.login .agreement {
    display: flex;
    font-size: 10px;
    margin-bottom: 14px;
    margin-top: 5px;
}
.login .agreement input {
    margin-top: -10px;
    margin-right: 8px;
}
.login .agreement a {
    color: rgb(10, 110, 233);
}
.login button {
    height: 37px;
    color: white;
    background-image: linear-gradient(to right, #f98e30, #f73307);
    font-size: 15px;
    border-radius: 30px;
    border: none;
    width: 250px;
    margin: 0 auto;
}
.login-success {
    font-weight: bold;
    color: rgb(43, 211, 43);
    margin-bottom: 3px;
    opacity: 0;
}
.login button:active {
    box-shadow: 0 2px #bebdbd;
    transform: translateY(1px);
}
/* #endregion登录页面end */

/* #region主页面start */
.main-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: relative;
}
.main-page .active {
    display: block;
}
.main-page:not(.active) {
    display: none;
}
.mainpage-topbar {
    position: sticky;
    top: -1px;
    z-index: 1000;
    width: 100%;
    background-color: white;
}
.main-page .top-tag {
    display: flex;
    height: 40px;
    /* margin-top: 10px; */
    align-items: center;
    justify-content: center;
    color: gray;
    /* position: relative; */
    
}
.main-page .top-tag .more {
    position: absolute;
    width: 18px;
    top: 8px;
    right: 20px;
}
.main-page .top-tag .note {
    margin-right: 30px;
}
.main-page .top-tag .GZ {
    position: relative;
}
.main-page .top-tag .GZ img {
    width: 12px;
    margin-left: 5px;
    position: absolute;
    top: 11px;
    left: 36px;
}
.active1 {
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: underline;
    text-decoration-color: #fb6e02;
}
.main-page .search-container {
    height: 30px;
    margin: 0 5px;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    padding: 2px 3px;
    border: 1px solid rgb(255, 140, 0);
}
.main-page .search-container img {
    padding: 0 2px;
    padding-top: 5px;
    width: 18px;
}
.main-page .search-container input {
    border: none;
    outline: none;
    padding-left: 5px;
    border-left: 1px solid gainsboro;
    width: 100%;
}
.main-page .search-container button {
    width: 40px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #f98e30, #f73307);
    color: white;
}
.main-page .main-page-tab {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    color: gray;
    /* padding-top: 1px; */
    position: sticky;
    top: 69px;
    z-index: 1000;
    width: 100%;
    background-color: white;
}
.bold {
    color: black;
    font-weight: bold;
    font-size: 17px;
}
.main-page .main-page-tab img {
    width: 12px;
}
.main-page .post {
    width: 100%;
    height: 100%;
}
.post-container {
    margin: 0 auto;
    position: relative;
}
.post-container::after {
    content: '';
    display: block;
    clear: both;
}
.post-content {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    width: 200px;
    background-color: white;
    float: left;
}
.post-content:nth-child(2){
    margin: 0 5px;
}
.article-cover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.article-cover img {
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.author-information {
    display: flex;
    justify-content: space-between;
    height: 35px;
}
.author-basic-information {
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.author-headphoto {
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin-right: 5px;
}
.author-headphoto img {
    width: 100%;
    height: 100%;
}
.author-name {
    color: gray;
    margin-bottom: 3px;
}
.author-other-information {
    display: flex;
    align-items: center;
    margin: 0 5px;
}
.article-likenum {
    margin-left: 5px;
}
.main-page .recommend-post {
    /* height: 100vh;
    padding-bottom: 50px; */
    background-color: #f5f5f5;
}
.main-page .follow-post {
    background-color: rgb(208, 235, 244);
}
.main-page .nearby-post {
    background-color: lightgrey;
}
.main-page .spring-post {
    background-color: rgb(249, 219, 223);
}
.main-page .food-post {
    background-color: lightcyan;
}
.main-page .trip-post {
    background-color: lightgoldenrodyellow;
}
.main-page .post {
    display: none;
}
.main-page .post .active {
    display: block;
}
.GZ-page .active {
    display: block;
}
.GZ-page:not(.active) {
    display: none;
}
.main-page .bottom-tab {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: gray;
    background-color: white;
    position: fixed;
    bottom: 0;
    z-index: 900;
}
.turn-org {
    color: #f26e09;
    font-weight: bold;
}
.page:not(.active) {
    display: none;
}
.page .active {
    display: block;
}
.main-page .bottom-tab  li:nth-child(3) {
    background-image: linear-gradient(to right, #f98e30, #f73307);
    color: white;
    padding: 5px;
    border-radius: 15px;
}
.note-page .note-page-post {
    margin-top: 18px;
    height: 100%;
    background-color: beige;
}
.note-page .active {
    display: block;
}
.note-page:not(.active) {
    display: none;
}
/* #endregion页面end */

/* #region搜索页面start */
.search-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: rgb(247, 247, 247);
}
.search-page:not(.active) {
    display: none;
}
.search-page .active {
    display: block;
}
.search-page .search-page-container {
    align-items: center;
    justify-content: space-around;
    width: 100%;
    display: flex;
    margin-top: 10px;
    padding: 0 10px;
    line-height: 30px;
}
.search-page .search-page-container img {
    margin-top: 5px;
}
.search-page .search-page-container input {
    border: none;
    outline: none;
    padding: 0 10px;
    width: 75%;
    height: 30px;
    border-radius: 15px;
    caret-color: #f26e09;
}
.search-page .search-page-container button {
    line-height: 20px;
    font-size: 16px;
    padding: 5px 8px;
    border: none;
    background-color: transparent;
}
.search-page .search-page-container .search-btn:active {
    background-color: #e0e0e0;
    border-radius: 15px;
}
.search-page .history-search {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.history-search:not(.active) {
    display: none;
}
.history-search .active {
    display: block;
}
.search-page .history-search .topbar {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}
.search-page .history-search .content {
    width: 100%;
    padding: 3px 14px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.history-content {
    background-color: #edeaea;
    display: inline-block;
    padding: 3px 10px;
    color: rgb(177, 174, 174);
    border-radius: 15px;
}
.page .active {
    display: block;
}
.page {
    display: none;
}
.searching {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: none;
}
.searching:not(.active) {
    display: none;
}
.searching .active {
    display: block;
}
.searching .searching-topbar {
    display: flex;
    justify-content: space-around;
    margin: 5px 15px;
    font-size: 18px;
}
.searching .search-account {
    background-color: white;
    border-radius: 5px;
    margin: 5px 25px;
    display: flex;
    flex-direction: column;
    padding: 0px 8px;
}
.searching .search-account img {
    width: 23px;
    margin: 12px 5px;
}
.search-account-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-account-tab-left {
    display: flex;
    align-items: center;
    font-weight: bold;
}
.search-account-tab .more {
    color: rgb(103, 102, 102);
    font-size: 14px;
}
.search-account-items {
    display: flex;
    flex-direction: column;
}
.search-account-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ebe8e8;
}
.account-information {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-account-content:last-child {
    border-bottom: none;
}
.account-information .heads {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: gray;
    margin: 0 7px;
}
.account-information1 {
    display: flex;
    flex-direction: column;
}
.account-information .name {
    font-weight: bold;
    margin-bottom: 9px;
}
.account-information2 {
    display: flex;
    align-items: center;
    color: gray;
    font-size: 13px;
}
.account-information2 .fan-num {
    border-right: 1px solid gray;
    padding-right: 5px;
    margin-right: 5px;
}
.follow {
    width: 65px;
    height: 28px;
    background-color: rgba(0, 0, 0, 0);
    color: #ff6f00;
    border: 1px solid #ff6f00;
    border-radius: 20px;
}
.middle-tab {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 30px;
    color: gray;
}
.middle-tab .left-items {
    display: flex;
}
.middle-tab .right-items {
    display: flex;
}
.middle-tab .right-items img {
    margin-top: 3px;
    margin-left: 3px;
}
.middle-tab .right-items .photo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-left: 1px solid rgb(183, 182, 182);
}
.middle-tab .right-items .video {
    display: flex;
    align-items: center;
}
.middle-tab .hot {
    margin: 0 15px;
}
.search-error {
    margin: 0 auto;
    margin-bottom: 10px;
    font-weight: bold;
}
.search-post-container {
    margin: 0 auto;
    position: relative;
}
.search-post-container::after {
    content: '';
    display: block;
    clear: both;
}
.searchPost {
    /* height: 100vh;
    padding-bottom: 50px; */
    background-color: #f5f5f5;
}

/* #endregion搜索页面end */


/* #region消息页面start */
.message-page {
    width: 100%;
    height: 708px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message-page .topbar {
    text-align: center;
    margin: 10px 0;
    font-size: 20px;
}
.message-page .items {
    width: 100%;
    display: flex;
    margin: 30px 0;
    font-size: 13px;
    color: grey;
    justify-content: space-evenly;
}
.message-page .items img {
    width: 50px;
    margin-bottom: 10px;
}
.message-page .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}
.message-page .message-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.message-page .message-list li {
    display: flex;
    margin: 10px 0;
}
.message-page .message-list li .content {
    font-size: 14px;
    color: gray;
    margin-top: 3px;
}
.message-page .message-list li img {
    width: 48px;
    margin: 0 10px;
}
.message-page .message-list li .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message-page .active {
    display: block;
}
.message-page:not(.active) {
    display: none;
}

/* #endregion消息页面end */

/* 其他页面 */
.video-page,.post-page,.mine-page {
    width: 100%;
    height: 100%;
}

/* #region发布笔记页面start */
.post-notes-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.post-notes-page .topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 8px;
}
.post-notes-page .post-image {
    width: 110px;
    height: 110px;
    font-size: 35px;
    color: rgb(189, 187, 187);
    border-radius: 15px;
    background-color: rgb(244, 244, 244);
    text-align: center;
    line-height: 110px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.post-notes-page .note-content {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.post-notes-page .note-content textarea {
    border: none;
}
.post-notes-page .note-content textarea:focus {
    outline: none;
}
.post-notes-page .note-content .topic textarea {
    border-bottom: 1px solid rgb(222, 221, 221);
    font-size: 17px;
    padding-bottom: 12px;
}
.post-notes-page .note-content .main-content textarea {
    padding-top: 18px;
}
.post-notes-page .label {
    background-color: rgb(249, 246, 246);
    border-radius: 10px;
    font-size: 12px;
    padding: 3px 7px;
    color: gray;
    margin-right: 8px;
}
.post-notes-page .add-tag {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    margin-top: 15px;
    border-bottom: 1px solid rgb(222, 221, 221);
}
.post-notes-page .add-tag .tag-search {
    display: flex;
}
.post-notes-page .add-tag .tag-search div {
    color: black;
}
.post-notes-page .add-tag .tag-choices {
    display: flex;
    margin: 11px 0;
}
.post-notes-page .spot-tag {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    margin-top: 10px;
}
.post-notes-page .spot-tag .spot-topic {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    align-items: center;
}
.post-notes-page .spot-tag .spot-topic img {
    width: 20px;
}
.post-notes-page .spot-tag .spot-topic .select {
    color: gray;
    margin-bottom: 10px;
}
.post-notes-page .spot-tag .spot-topic .add-spot {
    display: flex;
}
.post-notes-page .spot-tag .spot-choices {
    display: flex;
}
.post-notes-page .post-bottom-tab {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 15px;
}
.post-notes-page .post-bottom-tab .draft {
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.post-notes-page .post-bottom-tab .draft img {
    width: 16px;
    margin: auto;
}
.post-notes-page .post-bottom-tab .post-btn {
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(to right, #f98e30, #f73307);
    color: white;
    font-size: 15px;
}
/* #endregion发布笔记页面end */